<ul data-role="listview" data-inset="true" class="scenes" id="scenes-list">
	<li data-role="header" data-theme="a">Scenes</li>
	{{#each scenes}}
	<li class="ui-field-contain controls-list">
	{{this}}
	</li>
	{{/each}}
</ul>